.sub-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.padding-left-0 {
  padding-left: 0;
}
.border-top{
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #eee;
}
.text-tip{
  font-size: 14px;
  color: #ccc;
}
.item-width{
  width: 240px;
}
.ivu-form-item-label {
  font-size: 14px;
}
.color-theme{
  color: #2d8cf0;
}
.color-red{
  color: #ec4f38;
}
.text-primary{
  display: inline-block;
  height: inherit;
  padding-left: 5px;
  padding-right: 5px;
}
.cursor-point{
  cursor: pointer;
}